In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import ipywidgets
from ipywidgets import interactive

In [2]:
def read_file(file_name):
    return pd.read_csv(file_name)

In [3]:
df1 = read_file("prevalence_male_females.csv")
df_continents = read_file("continents2.csv")
df1.dropna()
# Renaming the columns
df1 = df1.rename(columns={'Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent)':'Male',
                          'Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent)':'Female'})
# Filtering the data for one year as mentioned in the article
df_2017 = df1[df1["Year"] == 2017]

#Merging df_2017 with df_continents for continents correspinding to country code
result = pd.merge(df_2017, df_continents, how="left")
result['region'] = result['region'].replace(np.nan, 'Others')

In [4]:
df1

,Entity,Code,Year,Male,Female,Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,3.499982,4.647815,12412311.0,NaN
2,Afghanistan,AFG,1991,3.503947,4.655772,13299016.0,NaN
3,Afghanistan,AFG,1992,3.508912,4.662066,14485543.0,NaN
4,Afghanistan,AFG,1993,3.513429,4.669012,15816601.0,NaN
...,...,...,...,...,...,...,...
56624,Zimbabwe,ZWE,2018,NaN,NaN,14438812.0,NaN
56625,Zimbabwe,ZWE,2019,NaN,NaN,14645473.0,NaN
56626,Zimbabwe,ZWE,2020,NaN,NaN,14862927.0,NaN
56627,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56628,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

In [5]:
# Interactive plot
def plot_scatter(continent):
    df1 = read_file("prevalence_male_females.csv")
    df_continents = read_file("continents2.csv")
    df1.dropna()
    # Renaming the columns
    df1 = df1.rename(columns={'Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent)':'Male',
                              'Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent)':'Female'})
    # Filtering the data for one year as mentioned in the article
    df_2017 = df1[df1["Year"] == 2017]

    #Merging df_2017 with df_continents for continents correspinding to country code
    result = pd.merge(df_2017, df_continents, how="left")
    result['region'] = result['region'].replace(np.nan, 'Others')
    if continent == 'All':
        result.plot(kind='scatter', x='Female', y='Male', ylim=(0, 8), xlim=(0, 8),
                    figsize=(20, 10))  # scatter plot
    else:
        df_temp = result[result['region'] == continent]
        df_temp.plot(kind='scatter', x='Female', y='Male', ylim=(0, 8), xlim=(0, 8),
                     figsize=(20, 10))  # scatter plot
    plt.xlabel('Prevelance in Female')
    plt.ylabel('Prevelance in Male')
    plt.title('Prevalence in gender')
    plt.show()

In [6]:
# Creating an interactive plot using 'interactive' function with all the necessary dropdowns
plot1 = interactive(plot_scatter,
                    continent=ipywidgets.Dropdown(
                        value='All',
                        options=['All', 'Asia', 'Others', 'Europe', 'Africa', 'Oceania', 'Americas'],
                        description='Continent'
                    ))
plot1

interactive(children=(Dropdown(description='Continent', options=('All', 'Asia', 'Others', 'Europe', 'Africa', …